<section class="extended home-section">
  <div class="wrapper-home">
    <div class="row column text-center">
      <div class="navigation_maps">
      <%= content_tag(:div, "", id: "upcoming_events", class: "map", data: { endpoints: upcoming_events }) %>
      </div>
    </div>
  </div>
</section>

<%= javascript_include_tag "decidim/comparative_stats/upcoming_events" %> 
<%= stylesheet_link_tag "decidim/comparative_stats/upcoming_events" %>