<div class="grid grid-cols-1 gap-4 md:grid-cols-4">
  <% metrics.each do |name, metric| %>
    <div class="metric-column">
      <div class="card w-100">
        <div class="metric-header p-4">
          <b><%= title name %></b>
        </div>
        <div class="piechart-body p-2">
          <%= pie_chart metric, id: "pie_chart_#{name}" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
