  <ul class="tabs" id="charts-tabs">
    <% available_graphs.each do |graph, _| %>
      <li class="tabs-title"><%= link_to t(".#{graph}"), graphs_path(graph: graph), aria: { selected: is_active_link?(graphs_path(graph: graph)) } %></li>
    <% end %>
  </ul>

  <div class="tabs-content" id="charts-tabs-content">
    <div class="tabs-panel is-active">
      <% if available_graphs.include? params[:graph] %>
        <%= render partial: "decidim/comparative_stats/widgets/embed", object: params[:graph] %>
        <%= cell(available_graphs[params[:graph].to_sym], active_endpoints) %>
      <% else %>
        <p><%= t ".choose_valid_graph" %></p>
      <% end %>
    </div>
  </div>
