<div class="row">
  <% metrics.each do |name, metric| %>
    <div class="column" style="padding: 1em">
      <div class="card">
        <div class="card-divider">
          <%= title name %>
        </div>
        <div class="card-section">
          <%= line_chart metric, id: "line_chart_#{name}" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
