@import "foundation-sites/scss/_global";

#geocoded_events{
  min-height: 360px;
  height: 100%;

  .endpoint-legend{
    font-size: .8rem;
    line-height: .8;

    .square{
      display: inline-block;
      width: .9em;
      height: .9em;
      margin-right: .3em;
    }
  }
}
